<div class="card card-list">
    <div class="header-card-list">
        <div class="character-img-text">
            <img src="../../../assets/characters.png" alt="character-img" class="character-image"/>
            <label class="text-character">Characters</label>
        </div>
        <select class="form-select sort-select" aria-label="Sort by">
            <option selected>Sort by</option>
            <option value="1">Name</option>
            <option value="2">Date</option>
        </select>
    </div>
    <div class="container-hero-cards">
        <app-hero-card class="hero-cards" *ngFor="let hero of heroes?.data?.results" [heroInfo] = "hero"></app-hero-card>
    </div>
    <div class="bottom-container">
        <button class="left-arrow"><img  src="../../../assets/btn_arrow_left.png"/></button>
        <button class="page-number-button" *ngFor="let page of pagesArray let i=index" (click)= "getPaginatedHeroes(i)" [ngClass]="{selectedpage: i == getActualPage()}">{{i+1}}</button>
        <button class="right-arrow"><img  src="../../../assets/btn_arrow_right.png" class="bu"/></button>
    </div>
  </div>
