.card-list{
    width: 75%;
    height: 90%;
    background-color: rgb(244, 244, 244);
}
.text-character{
    font-family: 'Arial Black';
}
.header-card-list{
    padding-top: 10px;
    width: 100%;
    display: inline-flex;
}
.sort-select{
    margin-left: 82%;
    width: 15%
}
.character-img-text{
    position: absolute;
}
.hero-cards{
  padding-top: 50px;
  padding-right: 10% !important;
  width: 40%;
}
.container-hero-cards{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}
@media screen and (max-width: 1500px) {
    .container-hero-cards{
        display: -moz-grid-group;
    }
  }
.bottom-container{
    width: 100%;
    justify-content: center;
    display: inline-flex;
    height: 20%;
    margin-top: 20px;
    padding-bottom: 10px;
}
.page-number-button{
    background-color: white;
    border-style: none;
    width: 2%;
    height: 10%;
    justify-content: center;
    margin-right: 2%;
    -webkit-box-shadow: rgb(0, 0, 0) 0px 10px 13px -7px, 4px 27px 12px 3px rgba(0,0,0,0); 
    box-shadow: rgb(0, 0, 0) 0px 10px 13px -7px, 4px 27px 12px 3px rgba(0,0,0,0);
}
.left-arrow, .right-arrow{
    border-style: none;
    background-color: white;
    -webkit-box-shadow: rgb(0, 0, 0) 0px 10px 13px -7px, 4px 27px 12px 3px rgba(0,0,0,0); 
    box-shadow: rgb(0, 0, 0) 0px 10px 13px -7px, 4px 27px 12px 3px rgba(0,0,0,0);
}
.left-arrow{
    margin-right: 2%;
}
.selectedpage{
    font-weight: bold;
}
.list-favorite-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.favorite-comics-container{
    width: 30%;
}
.header-favorites-container{
    margin-top: 10px;
    width: 100%;
    text-align: center;
}
.favorites-title{
    margin-left: 3%;
    font-family: 'Arial Black';
}
.favorite-comic-item{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 10px;
}
.favorite-comic-image{
    width: 20%;
    height: 20%;
}
.container-comic-image-details{
    width: 100%;
    height: 100%;
    text-align: center;
    padding-bottom: 10px;
  }
  .btn-delete-comic{
    border-style: none;
    width: 7%;
    height: 7%;
    border-radius: 100px;
    background-color: white;
    margin-left: 57%;
    margin-bottom: -8px;
    z-index: 1;
    text-align: center;
  }
  .delete-image{
      width: 100%;
      height: 100%;
  }