.card-list{
    width: 75%;
    height: 90%;
    background-color: rgb(244, 244, 244);
}
.text-character{
    font-family: 'Arial Black';
}
.header-card-list{
    padding-top: 10px;
    width: 100%;
    display: inline-flex;
}
.sort-select{
    margin-left: 82%;
    width: 15%
}
.character-img-text{
    position: absolute;
}
.hero-cards{
  padding-top: 50px;
  padding-right: 10% !important;
}
.container-hero-cards{
    width: 90%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
}
@media screen and (max-width: 1500px) {
    .container-hero-cards{
        display: -moz-grid-group;
    }
  }
  