<div class="card card-list">
    <div class="header-card-list">
        <div class="character-img-text">
            <img src="../../../assets/characters.png" alt="character-img" class="character-image"/>
            <label class="text-character">Characters</label>
        </div>
        <select class="form-select sort-select" aria-label="Sort by">
            <option selected>Sort by</option>
            <option value="1">Name</option>
            <option value="2">Date</option>
        </select>
    </div>
    <app-hero-card class="hero-cards"></app-hero-card>
  </div>
