<div class="hero hero-card">
  <div class="header-container">
    <img  class="header-image" src="../../../assets/marvelLogo.png"/>
    <div class="right-container">
      <p class="hero-name">example name</p>
      <p class="hero-description">lorem ipsum dolor</p>
      <button type="button" class="button-card-hero">View more</button>
    </div>
  </div>
  <div class="main-bottom-container">
    <p class="related-comics-text">Related comics</p>
    <div class="bottom-container">
      <p class="comics-text">asdasd</p>
    </div>
  </div>
</div>
