<div class="hero hero-card">
  <div class="header-container">
    <img  class="header-image" src="{{heroInfo?.thumbnail?.path + '/portrait_xlarge.'+heroInfo?.thumbnail?.extension }}"/>
    <div class="right-container">
      <p class="hero-name">{{heroInfo?.name}}</p>
      <p class="hero-description">{{heroInfo?.description | limitWords }}</p>
    </div>
  </div>
  <div class="middle-container">
    <button type="button" class="button-card-hero" (click) = "routeToDetails(heroInfo?.id)">View more</button>
  </div>
  <div class="main-bottom-container">
    <p class="related-comics-text">Related comics</p>
    <div class="bottom-container">
      <p class="comics-text" *ngIf="!heroInfo?.comics?.items?.length">No comics available</p>
      <a class="comics-text" *ngFor="let comic of heroInfo?.comics?.items | slice:0:4; let i=index" (click) = "open(content,comic.resourceURI)" style="cursor: pointer;">{{comic.name}}</a>
    </div>
  </div>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Comic details</h4>
      <button type="button" class="btn btn-sm btn-outline-danger ml-2" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="content-modal-body" *ngFor="let comicDetail of comicDetails?.data?.results">
          <div class="container-comic-image-details"><img  src="{{comicDetail?.thumbnail?.path + '/portrait_medium.'+heroInfo?.thumbnail?.extension }}"/></div>
          <p style="font-weight: bold;">{{comicDetail.title}}</p>
          <p>{{comicDetail.description}}</p>
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')" *ngIf="!searchComic() else elseBlock">Add favorite</button>
      <ng-template #elseBlock>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('deleteFavorite')">Delete favorite</button>
      </ng-template>
    </div>
  </ng-template>
</div>
